*{
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.nav-bar{
    margin-top: -90px;
     text-decoration: none;  /*text decoration ko khatam karta ha */
    
     

}
.nav-bar li{
    font-size: 1.2rem;
    display: inline;
    margin-left: 160px;
    

}
.bannarimg{
    width: 10%;
    height: auto;
}
.slider{
    width: 100%;
    height: 70vh;
    object-fit: cover;/* object fit cover img ko proper karata han strached hona sa rok ta han */
    display: flex;
    margin-top: 60px;
    border: 10px solid #343902;
    
}

